<!-- MHonArc v2.6.8 -->
<!--X-Subject: [edlug] Passing options to configure in .spec files -->
<!--X-From-R13: [vpunry T Ubeqba <[vpunry.UbeqbaNrr.rq.np.hx> -->
<!--X-Date: Fri, 7 Nov 2008 15:21:40 GMT -->
<!--X-Message-Id: 20081107144450.GA26894@xxx.xxx.xxx -->
<!--X-Content-Type: text/plain -->
<!--X-Head-End-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML//EN">
<HTML>
<HEAD>
<TITLE>[edlug] Passing options to configure in .spec files</TITLE>
<LINK REV="made" HREF="mailto:Michael.Gordon@xxx.xxx.xxx">
</HEAD>
<BODY bgcolor="white" text="black" link="blue" vlink="red">
<!--X-Body-Begin-->
<!--X-User-Header-->
<!--X-User-Header-End-->
<!--X-TopPNI-->
<hr>
[<a href="msg00020.html">Date Prev</a>][<a href="msg00022.html">Date Next</a>][<a href="msg00018.html">Thread Prev</a>][<a href="msg00023.html">Thread Next</a>][<a href="maillist.html#00021">Date Index</a>][<a href="index.html#00021">Edlug Archive Nov 2008
</a>]
<!--X-TopPNI-End-->
<!--X-MsgBody-->
<!--X-Subject-Header-Begin-->
<h1>[edlug] Passing options to configure in .spec files</h1>
<hr>
<!--X-Subject-Header-End-->
<!--X-Head-of-Message-->
<ul>
<li><em>To</em>: <a href="mailto:edlug@xxx.xxx.xxxDOMAIN.HIDDEN">edlug@xxx.xxx.xxx</a></li>
<li><em>Subject</em>: [edlug] Passing options to configure in .spec files</li>
<li><em>From</em>: Michael F Gordon &lt;<a href="mailto:Michael.Gordon@xxx.xxx.xxxDOMAIN.HIDDEN">Michael.Gordon@xxx.xxx.xxx</a>&gt;</li>
<li><em>Date</em>: Fri, 7 Nov 2008 14:44:50 +0000</li>
<li><em>List-post</em>: &lt;<a href="mailto:edlug@xxx.xxx.xxx">mailto:edlug@xxx.xxx.xxx</a>&gt;</li>
<li><em>List-subscribe</em>: &lt;<a href="mailto:edlug-request@xxx.xxx.xxx">mailto:edlug-request@xxx.xxx.xxx</a>&gt;</li>
<li><em>List-unsubscribe</em>: &lt;<a href="mailto:edlug-request@xxx.xxx.xxx">mailto:edlug-request@xxx.xxx.xxx</a>&gt;</li>
<li><em>Sender</em>: <a href="mailto:owner-edlug@xxx.xxx.xxxDOMAIN.HIDDEN">owner-edlug@xxx.xxx.xxx</a></li>
<li><em>User-agent</em>: Mutt/1.5.13 (2006-08-11)</li>
</ul>
<!--X-Head-of-Message-End-->
<!--X-Head-Body-Sep-Begin-->
<hr>
<!--X-Head-Body-Sep-End-->
<!--X-Body-of-Message-->
<pre>
Does anyone know if there's a way to handle configure options that take
an argument in RPM?  If, for example, the configure script for the program
I'm packaging has a --with-gtk option I can use

  %bcond_with gtk
  ...
  %configure \
  %if {%with gtk}
  --with-gtk \
  %endif

and use &quot;rpmbuild --with gtk ...&quot; to build the GTK version.

If the option is of the form --with-toolkit=FOO, where FOO can be xlib, gtk,
motif etc. I can't do this.  I can put something like

  %configure --with-toolkit=%{toolkit}

in the .spec file and use &quot;rpmbuild -D 'toolkit motif' ...&quot; but it would be
nice if &quot;rmbuild --with toolkit=motif ...&quot; could be made to work.


Michael
-
----------------------------------------------------------------------
You can find the EdLUG mailing list FAQ list at:
<a  href="http://www.edlug.org.uk/list_faq.html">http://www.edlug.org.uk/list_faq.html</a>

</pre>
<!--X-Body-of-Message-End-->
<!--X-MsgBody-End-->
<!--X-Follow-Ups-->
<hr>
<!--X-Follow-Ups-End-->
<!--X-References-->
<!--X-References-End-->
<!--X-BotPNI-->
<HR>
<UL>
<li>Prev by Date:
<strong><a href="msg00020.html">Re: [edlug] Meeting room in central Edinburgh?</a></strong>
</li>
<li>Next by Date:
<strong><a href="msg00022.html">Re: [edlug] Wanted for tonight: old-style IDE cable!</a></strong>
</li>

<li>Previous by thread:
<strong><a href="msg00018.html">[edlug] switchboard for sale (free to charity or good cause)</a></strong>
</li>
<li>Next by thread:
<strong><a href="msg00023.html">[edlug] I made a boo-boo</a></strong>
</li>

<LI>Index(es):
<UL>
<LI><A HREF="maillist.html#00021">
<STRONG>Main</STRONG></A></LI>
<LI><A HREF="index.html#00021">
<STRONG>Thread</STRONG></A></LI>
</UL>
</LI>
</UL>

<UL>
<LI><small><a href="http://www.morpheux.org">Morpheux</A></small></LI>
</UL>


<!--X-BotPNI-End-->
<!--X-User-Footer-->
<table width="90%" align="center"><TR><TD>
<address>This archive is kept by <a href="mailto:wibble+RM@xxx.xxx.xxx">wibble+RM@xxx.xxx.xxx</A><BR>
<small><a href="http://www.morpheux.org">Morpheux</A></small>
</address>
</TD><TD align="right">
<a href="../../">HomePage</A>
</TD></TR></TABLE>
<!--X-User-Footer-End-->
</body>
</html>
